body {
  font-family: "Playfair Display", serif !important;
}

.logo {
  width: 70px;
  margin-left: 25px;
}

.carrito {
  width: 25px;
  margin: 10px 0 0 10px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../assets/Logos/MenuBurgers.webp) !important;
}

.navbar-nav {
  margin-right: 5px !important;
  text-align: right !important;
}

.caja-header {
  height: 30vh;
  width: 100%;
  text-align: center;
  color: #fff;
}
.caja-header h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 15px;
}
.caja-header p {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}
.caja-header a {
  display: inline-block;
  width: 220px;
  margin-top: 20px;
  background: #ffbf47;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffbf47), to(#fff647));
  background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
}
.caja-header a img {
  width: 30px;
  margin-right: 5px;
}

.caja2-header {
  width: 100%;
  height: auto;
  background: #ffbf47;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffbf47), to(#fff647));
  background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
  text-align: center;
}
.caja2-header img {
  width: 200px;
  margin-bottom: 15px;
}
.caja2-header p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  width: 400px;
  height: auto;
}