.body-loguin{
    min-height: 80vh !important;
    font-family: 'Roboto', sans-serif !important;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box2{
    @extend .box;
    height: 700px !important;
    top: 115px !important;
    &::before{
        content: '';
        z-index: 1;
        position: absolute;
        background: #ffbf47;
        background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        width: 380px;
        height: 850px !important;
        top: -50%;
        left: -50%;
        animation: animate 6s linear infinite;
        transform-origin: bottom right;
    }
    &::after{
        content: '';
        z-index: 1;
        position: absolute;
        background: #ffbf47;
        background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        width: 380px;
        height: 850px !important;
        top: -50%;
        left: -50%;
        animation: animate 6s linear infinite;
        transform-origin: bottom right;
        animation-delay: -3s;
    }
}

.box::before{
    content: '';
    z-index: 1;
    position: absolute;
    background: #ffbf47;
    background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
}
.box::after{
    content: '';
    z-index: 1;
    position: absolute;
    background: #ffbf47;
    background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
form{
    position: absolute;
    inset: 3px;
    z-index: 2;
    padding: 50px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.title-form{
    color: #ffbf47;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.p-form{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #8f8f8f;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;

}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputBox input:focus ~ span,.inputBox input:valid ~ span{
    color: #ffbf47;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}
.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffbf47;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:focus ~ i,.inputBox input:valid ~ i{
    height: 44px;
}
.links{
    display: flex;
    justify-content: space-between;
}

.links{
    a{
        margin: 10px 0;
        font-size: 0.75em;
        color: #8f8f8f;
        text-decoration: beige;
        cursor: pointer;
        &:hover, &:nth-child(2){
            color: #ffbf47;
        }
    }
}

input[type="submit"]{
    border: none;
    outline: none;
    padding: 11px 25px;
    background: #ffbf47;
    background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
    &:active{
        opacity: .8;
    }
}

.create-user{
    border: none;
    outline: none;
    padding: 11px 25px;
    background: #ffbf47;
    background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 40px !important;
    width: 160px !important;
    &:active{
        opacity: .8;
    }
}

#volver{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    margin: 10px;
    background: #ffbf47;
    background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
}