.filtro{
    margin: 50px 0 0 0;
    padding: 0;
}

.boton-filtro{
    display: block;
    margin: 5px;
    padding: 15px;
    width: 150px;
    color: #000;
    background-color: #fff;
    opacity: 0.6;
    border-color: transparent;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    cursor: pointer;
}
.boton-filtro.active{
    opacity: 1;
}


.div-padre{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 10px 0 10px 0;
    border: #212529 solid;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
  
.div1{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 70%;
    }
}

.div2{
    width: 100%;
    height: auto;
    margin-top: 0px;
    h4{
        color:  #fff;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0 10px 0;
    }
    // p{  
    //     margin: 20px 0 20px 20px;
    //     font-size: 1rem;
    //     font-weight: 400;
    //     font-family: 'Roboto', sans-serif;
    //     font-weight: 300;
    // }
    // ul{
    //     padding-left: 20px;
    //     list-style-type:none !important;
    //     li{
    //         font-size: 1rem;
    //         line-height: 2rem;
    //         font-family: 'Roboto', sans-serif;
    //         font-weight: 300;
    //     }
    // }
    .precio{
        text-align: center;
        color: #fff;
        margin: 8px 0 8px 0px;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .ingredientes{
        display: inline-block;
        width: 110px;
        margin-right: 10px;
        background: #ffbf47;
        background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        cursor: pointer;
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
        border-color: transparent;
    }

    .agregar-al-carrito{
        display: inline-block;
        width: 60px;
        height: 54px;
        margin-left: 10px;
        background: #ffbf47;
        background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        cursor: pointer;
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
        border-color: transparent;
        img{
            width: 30px;
        }
        
    }
}