.div-padre{
    width: 80%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.div1{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0 20px 0;
    }
    img{
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }
}

.div2{
    width: 100%;
    height: auto;
    color: #fff;
    p{  
        margin: 20px 0 20px 20px;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    ul{
        padding-left: 20px;
        list-style-type:none !important;
        li{
            font-size: 1rem;
            line-height: 2rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
    }
    .precio{
        text-align: center;
        margin: 8px 0 8px 0px;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    #comprar{
        display: inline-block;
        width: 100px;
        margin-right: 10px;
        background: #ffbf47;
        background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        cursor: pointer;
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
    }

    #agregar-al-carrito{
        display: inline-block;
        width: 60px;
        height: 54px;
        margin-left: 10px;
        background: #ffbf47;
        background: -webkit-linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        background: linear-gradient(0deg, #ffbf47 0%, #fff647 100%);
        cursor: pointer;
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
        img{
            width: 30px;
        }
    }
}