.logo{
    width: 70px;
    margin-left: 25px;
}

.carrito{
    width: 25px;
    margin: 10px 0 0 10px;
}


.navbar-dark {
    .navbar-toggler-icon {
        background-image: url(../assets/Logos/MenuBurgers.webp) !important;
    }
}

.navbar-nav {
    margin-right: 5px !important;
    text-align: right !important;
  }