.logo{
    width: 70px;
    margin-left: 25px;
}

.carrito{
    width: 25px;
    margin: 10px 0 0 10px;
    position: absolute;
    top: 25px;
    right: 100px;
    cursor: pointer;
}


.numero-de-carrito{
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 36px;
    right: 80px;
}

.contenedor-carrito{
    display: none !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 85px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #212529;
    z-index: 1000000;
    
}

.contenedor-carrito.active{
    display: block !important;
    animation-name: animacion-contenedor-carrito;
    animation-duration: 1.5s;
}

@keyframes animacion-contenedor-carrito {
    0%{ opacity: 0; }
    25%{ opacity: 2.5; }
    50%{ opacity: 5.5;}
    75%{ opacity: 7.5;}
    100%{ opacity: 10;}
}

.contenedor-carrito-hijo{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #41464b;
    margin: 0 0 20px 0;
    border-radius: 10px;
    img{
        width: 60px;
    }
    p{
        color: white;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0;
    }
    .cantidad{
        color: white;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0;
    }
    .total{
        color: white;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0;
    }
}

.footer-carrito{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 20px 0;
    p{
        color: white;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0;
    }
    .total-de-productos{
        color: white;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0;
    }
    .total-de-precios{
        @extend .total-de-productos;
    }
}

.txt{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.navbar-dark {
    .navbar-toggler-icon {
        background-image: url(../assets/Logos/MenuBurgers.webp) !important;
    }
}

.navbar-nav {
    margin-right: 5px !important;
    text-align: right !important;
}
